// Non-modular or client styles for .l-footer region.
.l-footer {
	@media only screen and (min-width: 40.063em) { 
		background-image: url(../images/footer-bg.png);
		background-size: cover;
	}
}
@media only screen and (max-width: 40em) { 
	.l-footer {
		.footer {
			padding: 0;
			.block-menu-menu-footer-menu {
				.menu {
					margin: 0;
					li {
						list-style-type: none;
						display: block;
						width: 100%;
						padding-left: 0;
						margin-bottom: 0;
						a {
							font-size: 14px;
							font-weight: 500;
							text-align: center;
							text-shadow: 1px 1.732px 5px #995463;
							color: #fff;
							display: block;
							background-image: linear-gradient(180deg, #c68694 0%, #edb0bc 100%);
							transition: all 0.2s ease-in-out;
							padding: 15px 0;
							text-decoration: none;
							&:hover, &:focus, &:active,&.active {
								background-image: linear-gradient(180deg, #995463 0%, #b27481 100%);
							}
						}
					}
				}
			}
		}
	}
}
.block-menu-menu-footer-menu {
	@media only screen and (min-width: 40.063em) { 
		.menu {
			margin: 25px auto;
			width: fit-content;
			li {
				list-style-type: none;
				display: inline-block;
				padding-left: 0;
				margin-bottom: 0;
				a {
					font-weight: 700;
					color: #fff;
					text-shadow: 1px 1.732px 5px #995463;
					border-bottom: 1px solid transparent;
					transition: all 0.2s ease-in-out;
					font-size: 15px;
					text-decoration: none;
					&:hover, &:focus, &:active,&.active {
						border-color: #fff;
					}
				}
				&:after {
					content: "|";
					margin-left: 5px;
					display: inline-block;
					color: #fff;
					font-weight: 700;
					text-shadow: 1px 1.732px 5px #995463;
				}
				&.last:after {
					content: none;
				}
			}
		}
	}
	@media only screen and (min-width: 64.063em) {
		.menu li a {
			font-size: 16px;
			text-decoration: none;
		}
	}
}