// Non-modular or client styles for .l-header region.
.l-header-region {
	background-image: radial-gradient(farthest-corner at 50% 100%,
      #f3f4f5 0%, #ffffff 100%);
	.logo-phone-desktop {
		.logo-top {
			height: 103px;
			display: inline-block;
			margin: 50px 0;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			transition: all .3s ease-in-out;
			background-image: url(/sites/all/themes/omtheme/images/logo.png);
			a {
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
			}
			&:hover {
				opacity: 0.75;
			}
		}
		.phone-number {
			a {
				font-size: 36px;
				color: #354b54;
				font-family: "Raleway";
				font-weight: 800;
				display: block;
				margin: 75px 0;
				transition: all .3s ease-in-out;
				position: relative;
				text-decoration: none;
				&:hover {
					opacity: 0.75;
				}
				.phone-icon {
					background-image: url(/sites/all/themes/omtheme/images/phone.png);
					display: block;
					width: 30px;
					height: 30px;
					background-size: cover;
					position: absolute;
					left: -30px;
					bottom: 10px;
					text-decoration: none;
				}
			}
		}
	}	
}
.logo-phone-mobile {
	width: 100%;
	float: left;
	max-width: calc(100% - 65px);
	background-image: radial-gradient(farthest-corner at 50% 100%,
      #f3f4f5 0%, #ffffff 100%);
	.logo-top {
		//height: 103px;
		//display: inline-block;
		//margin: 50px 0;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .3s ease-in-out;
		background-image: url(/sites/all/themes/omtheme/images/logo.png);
		height: 50px;
		width: 150px;
		float: left;
		margin: 25px 0px 25px 25px;
		a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}
		&:hover {
			opacity: 0.75;
		}
	}
	.phone-number {
		width: 35px;
		height: 35px;
		margin-top: 35px;
		float: right;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .3s ease-in-out;
		background-image: url(/sites/all/themes/omtheme/images/phone-normal.png);
		a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}
		.phone {
			display: none;
		}
		&:hover, &:focus, &:active {
			background-image: url(/sites/all/themes/omtheme/images/phone-hover.png);
		}
	}
	@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
		max-width: calc(100% - 85px);
		.logo-top {
			height: 75px;
			width: 200px;
		}
		.phone-number {
			width: 50px;
    	height: 50px;
		}
	}
}
.contain-to-grid {
	background: transparent;
	@media only screen and (max-width: 64em) {
		.top-bar {
			background: transparent;
			height: 100px;
			&.expanded {
				height: auto;
				.title-area {
					.toggle-topbar.menu-icon {
						background-image: url(/sites/all/themes/omtheme/images/menu-hover.png);
					}
				}
				#main-menu {
					//box-shadow: 0 0 50px rgba(1,2,2,0.5);
					position: relative;
				}
			}
			.title-area {	
				.name {
					display: none;
				}
				.toggle-topbar.menu-icon {
					top: 51px;
					width: 35px;
					height: 35px;
					right: 25px;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					transition: all .3s ease-in-out;
					overflow: hidden;
					background-image: url(/sites/all/themes/omtheme/images/menu-normal.png);
					&:hover {
						background-image: url(/sites/all/themes/omtheme/images/menu-hover.png);
					}
					a {
						font-size: 0;
						opacity: 0;
						height: 100%;
						width: 100%;
						line-height: 1;
						padding: 0;
						text-decoration: none;
					}
				}
			}
			#main-menu {
				li {
					background-color: #fff;
					padding-left: inherit;
					margin-bottom: inherit;
					a {
						color: #354b54;
						font-family: "Raleway";
						font-weight: 500;
						font-size: 16px;
						letter-spacing: 0.5px;
						background-color: #fff;
						padding-left: 25px;
						padding-top: 12px;
						padding-bottom: 12px;
						line-height: 1.6;
						text-decoration: none;
						&.active {
							background-color: #8c9ca6;
							color: #fff;
						}
					}
					&:hover {
						background-color: #8c9ca6;
						> a {
							background-color: #8c9ca6;
							color: #fff;
						}
					}
					&.has-dropdown {
						> a:after {
							content: ">";
							display: block;
							width: auto;
							margin: 0;
							height: auto;
							margin-right: 25px;
							position: absolute;
							top: 8px;
							right: 0;
							font-family: monospace;
							font-weight: bold;
							font-size: 20px;
							border: none;
						}
					}
				}
			}
		}
	}
	@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
		.top-bar {
			height: 125px;
			.title-area {
				.toggle-topbar.menu-icon {
					width: 50px;
					height: 50px;
				}
			}
		}
	}
	@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
		.top-bar {
			overflow: hidden!important;
			line-height: 2.8125rem!important;
			position: relative!important;
			margin-bottom: 0!important;
			.top-bar-section {
				left: inherit!important;
				position: relative!important;
				width: auto!important;
				transition: left 300ms ease-out!important;
				#main-menu {
					padding: 0!important;
					width: 100%!important;
					height: auto!important;
					margin: 0!important;
					> li {
						float: unset;
					}
					.has-dropdown.not-click:hover > .dropdown,
					.has-dropdown > a:focus + .dropdown  {
						clip: unset;
						//overflow: hidden;
						//display: none;
					}
					.has-dropdown	{
						> .dropdown {
							visibility: hidden;
						}
						&.moved {
							position: static;
							> .dropdown {
								//	position: static !important;
								//height: auto;
								visibility: visible;
								width: 100%;
								top: 0;
								left: 100%;
								//display: block!important;
								overflow: visible!important;
								clip: auto!important;
								li {
									&.parent-link {
										display: block!important;
									}
								}
							}
						}
					}
				}
				
			}
			&.expanded {
				.top-bar-section {
					&.left0 {
						left: 0 !important;
					}
					&.left-100 {
						left: -100%!important;
					}
				}
			}
			.title-area {
				float: none!important;
			}
		}
		.toggle-topbar.menu-icon {
			display:block!important;
		}
		li {
			padding-left: inherit;
			margin-bottom: inherit;
			.js-generated {
				display: block !important;
			}
		}
	} 
	@media only screen and (min-width: 64.063em) {
		.top-bar {
			height: auto;
			background: transparent;
			padding-left: .9375rem;
			padding-right: .9375rem;
			#main-menu {
				width: 100%;
				//display: flex;
				li {
					background: transparent;
					padding-left: inherit;
					margin-bottom: inherit;
					a {
						font-size: 16px;
						font-weight: 500;
						font-family: "Raleway";
						line-height: 1.5;
						padding: 20px 15px;
						background-color: #fff;
						color: #354b54;
						transition: all 0.3s ease-in-out;
						text-decoration: none;
					}
				}
				> li {
					padding-left: inherit;
					margin-bottom: inherit;
					> a {
						text-align: center;
						text-transform: uppercase;
						text-decoration: none;
						&:hover, &.active {
							background-color: #edb0bc;	
							color: #fff;
						}
					}
					&.has-dropdown {
						> a {
							padding-right: 20px!important;
							&:after {
								content: none;
							}
						}
					}
				}
				.dropdown {
					min-width: 250px;
					box-shadow: 2.5px 4.33px 5px rgba(1,2,2,0.25);
					li {
						padding-left: inherit;
						margin-bottom: inherit;
						a {
							letter-spacing: 1px;
							text-decoration: none;
							&:hover, &.active {
								color: #fff;
								background-color: #8c9ca6;
							}
						}
						&.first {
							> a {
								background-image: linear-gradient(0deg, #ffffff 85%, #e9edef 100%);
								&:hover, &.active {
									color: #fff;
									background-color: #8c9ca6;
									background-image: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:64.063em)/";
	width: 64.063em; 
}
.title-area {
	li {
		padding: 0;
	}
}