// Non-modular or client styles for the .l-content region.
body {
	font-family: "Raleway";
	font-size: 15px;
	font-weight: 400;
	@media only screen and (min-width: 40.063em) { 
		font-size: 16px;
	}
}
@media only screen and (min-width: 40.063em){
	.medium-9.main {
		width: 66.6666666667%;
	}
}
.front {
	#page-title {
		display: none;
	}
	.l-content-bottom {
		box-shadow: inset 0px 30px 30px 0px #e5ecf0;
	}
}
.body-subtitle {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	@media only screen and (min-width: 40.063em) { 
		font-size: 24px;
	}
}
.hp-title {
	@media only screen and (max-width: 40em) {
		font-size: 21px;
	}
}
.box {
	width: 100%;
	float: left;
	margin-top: 30px;
	@media only screen and (min-width: 40.063em) {
		margin-top: 50px;
	}
	.text-box.left {
		@media only screen and (min-width: 40.063em) {
			padding-right: 30px;
		}
		@media only screen and (min-width: 64.063em) {
			padding-right: 90px;
		}
		
	}
	.text-box.right {
		@media only screen and (min-width: 40.063em) {
			padding-left: 30px;
		}
		@media only screen and (min-width: 64.063em) {
			padding-left: 90px;
		}
	}
}
.feature-block {
	margin: 50px 0;
	width: 100%;
	float: left;
	@media only screen and (min-width: 40.063em) {
		margin: 75px 0;
	}
	@media only screen and (min-width: 64.063em) {
		margin: 100px 0;
	}
	.feature-box {
    float: left;
		text-align: center;
		position: relative;
		&:nth-child(1), &:nth-child(2) {
			margin-bottom: 25px;
			@media only screen and (min-width: 40.063em) {
				margin-bottom: 0px;
			}
		}
		.feature-img {
			img {
				margin: 0 auto;
				height: 110px;	
				transform: scale(1);
				transition: all 0.3s ease-in-out;
				opacity: 1;
				@media only screen and (min-width: 40.063em) {
					height: 150px;	
				}
				@media only screen and (min-width: 64.063em) {
					height: 185px;	
				}
				&:hover {
					transform: scale(1.1);
				}	
				&:active, &:focus, &:visited {
					opacity: 0.5;
					transform: scale(1);
				}
				&:hover:active {
					transform: scale(1);
				}
			}
		}
		.feature-label {
			color: #8c9ca6;
			font-weight: 700;
			font-size: 16px;
			margin-top: 25px;
			@media only screen and (min-width: 40.063em) {
				margin-top: 50px;
				font-size: 18px;
			}
		}
		
	}
}
.node-team-member {
	.field-name-field-photo {
		margin: 20px auto;
		text-align: center;
		display: block;
		img {
			@media only screen and (max-width: 40em) { 
				max-width: 50%;
			}
		}
	}
}
.l-main {
	margin-bottom: 70px;
	@media only screen and (max-width: 64em) { 
		margin-bottom: 50px;
	}
	@media only screen and (max-width: 40em) { 
		width: 83.3333333333%;
		margin-bottom: 30px;
	}
}
.block-webform-client-block-40 {
	@media only screen and (max-width: 40em) { 
		margin-top: 50px;
	}
}
