/**
 * @file
 * om_license.admin.css
 */

.om-license {
  position: relative;
  width: 100%;
  height: 100%;
}
.om-license .content {
  padding: 5px 25px 25px;
}

.om-license-actions {
  float: left;
  width: 100%;
  padding: 0 10px 10px;
}
