// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
 h1, h2, h3,
 h4, h5, h6 {
	font-family: "Raleway";
 }
h1 {
	font-size: 27px;
	font-weight: 300;
	color: #c68694;
	@media only screen and (min-width: 40.063em) { 
		font-size: 50px;
	}
}
h2 {
	font-size: 24px;
	font-weight: 500;
	color: #8c9ca6;
	@media only screen and (min-width: 40.063em) { 
		font-size: 30px;
	}
}
h3 {
	font-size: 20px;
	font-weight: 500;
	color: #c68694;
	@media only screen and (min-width: 40.063em) { 
		font-size: 22px;
	}
}
h4 {
	font-size: 16px;
	font-weight: 700;
	color: #354b54;
	@media only screen and (min-width: 40.063em) { 
		font-size: 18px;
	}
}
p {
	font-family: "Raleway";
	font-size: 15px;
	@media only screen and (min-width: 40.063em) { 
		font-size: 16px;
	}
}
// Anchors
//-----------------------------------------------------------------------------
a {
	color: #c68694;
	text-decoration: underline;
}
a:visited {
	color: #000000;
}
a:focus {
	color: #000000;
}

 a.active,
 a:active,
 a:hover {
	color: #8c9ca6;
 }

// Form Input
//-----------------------------------------------------------------------------
input[type="text"],
input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
input[type="email"],
input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
input[type="url"],
textarea {
	background-color: #ffffff;
	border: 1px solid #8c9ca6;
	font-size: 12px;
	color: #8c9ca6;
	font-family: "Raleway";
	font-weight: 400;
	padding: 1rem 0.5rem;
	height: auto;
	&:hover {
		box-shadow: inset 1px 1px 3px 0px #8c9ca6;
	}
	&:focus, &:active {
		background-color: #f2f2f2;
		border: 1px solid #354b54;
		box-shadow: inset 1px 1px 3px 0px #8c9ca6;
		color: #354b54;
	}
	@media only screen and (min-width: 40.063em) { 
		font-size: 14px;
	}
}
input[type=radio],
input[type="checkbox"]{
	margin: inherit;
}
input[type="checkbox"] + label, input[type="radio"] + label {
	display: initial;
}
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}
.button,
.form-submit {
	background-image: linear-gradient(180deg, #8c9ca6 0%, #6b7c85 100%);
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	color: #ffffff;
	font-family: "Raleway";
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
	&:hover, &:focus, &:active {
		background-image: linear-gradient(180deg, #edb0bc 0%, #c68694 100%);
	}
	&:visited {
		color: #ffffff;
	}
	&.radius {
		border-radius: 10px;
	}
	font-size: 15px;
	@media only screen and (min-width: 40.063em) { 
		font-size: 16px;
	}
}
ul,ol {
	li {
		padding-left: 10px;
		margin-bottom: 10px;
		font-size: 15px;
		@media only screen and (min-width: 40.063em) { 
			font-size: 16px;
		}
	}
}

#webform-client-form-40 {
	.form-submit {
		width: 100%;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
		background-image: linear-gradient(180deg, #8c9ca6 0%, #6b7c85 100%);
		-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
		&:hover, &:focus, &:active {
			background-image: linear-gradient(180deg, #edb0bc 0%, #c68694 100%);
			box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}
		@media only screen and (min-width: 40.063em) { 
			font-size: 18px;
		}
	}
}
.padd-left {
	@media only screen and (min-width: 40.063em) { 
		padding-left: 15px;
	}
}
.padd-right {
	@media only screen and (min-width: 40.063em) { 
		padding-right: 15px;
	}
}
.pdf-link {
	padding-left: 25px;
	position: relative;
	@media only screen and (min-width: 40.063em) { 
		padding-left: 30px;
	}
	&:before {
		content: "";
		background-image: url(/sites/all/themes/omtheme/images/pdficon.png);
		background-position: center left;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20px;
		height: 20px;
		@media only screen and (min-width: 40.063em) { 
			width: 25px;
			height: 25px;
		}
	}
}
#page-title {
	word-break: break-word;
}