.pagination-centered {
    clear: both;
    margin-bottom: 4rem;
}

.pagination {
    li {
        a {
            background-color: $aluminum !important;
            color: $white !important;
            padding: 0.6rem 1rem !important;
        }
        &.current {
            a {
                background-color: $primary-color !important;
            }
        }
    }
}