// Remove border on flexslider so it's flush with edges of browser
.flexslider {
    border: 0;
    &:hover {
      .flex-direction-nav {
        .flex-prev {
          left: -100px;
        }
        .flex-next {
          right: -100px;
        }
      }
    }
    ul,ol {
      li {
        padding: inherit;
      }
    }
    ul {
      li {
        margin: inherit;
      }
    }
}

// Fix for default slideshow prev next arrows being cut off
.flex-direction-nav {
  position: absolute;
  top: 40%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  left: 0;
  right: 0;
  a {
    display: block !important;
    position: relative;
    height: 100px;
    font-size: 0;
    background-size: contain;
    opacity: 0.75;
    background-repeat: no-repeat;
    &.flex-prev:before,
    &.flex-next:before {
      content: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .flex-nav-prev {
    a {
      float: left;
      left: -100px;
      background-image: url(../images/prev.png);
      @media only screen and (min-width: 75em) { 
        left: -50px;
      }
      @media only screen and (min-width: 90em) { 
        left: -100px;
      }
    }
  }
  .flex-nav-next{
    a {
      float: right;
      right: -100px;
      background-image: url(../images/next.png);
      @media only screen and (min-width: 75em) { 
        right: -50px;
      }
      @media only screen and (min-width: 90em) { 
        right: -100px;
      }
    }
  }
  @media only screen and (max-width: 74.938em) { 
    display: none;
  }
}

.flex-control-nav {
  position: absolute;
  bottom: 70px;
  text-align: right;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 60.625rem;
  left: 0;
  right: 0;
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    margin-right: 25px;
  }
  li {
    a {
      position: relative;
      z-index: 4;
      width: 25px;
      height: 25px;
      font-size: 0;
      background-color: transparent;
      border: 2px solid #fff;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #fff;
      }
      &.flex-active {
        background-image: linear-gradient(0deg, #c68694 0%, #edb0bc 100%);
        background-color: transparent;
      }
    }
  }
  @media only screen and (max-width: 40em) { 
    display: none;
  }
}

// Adjust the HEIGHT of the slideshow
.slideshow__image {
    background-size: cover;
    background-position: center center;
    height: 200px;
    @media #{$medium-up} {
        height: 500px; // Adjust for medium (tablet)
    }
    @media #{$large-up} {
        height: 500px; // Adjust for large (desktop)
    }
    // @media #{$xlarge-up} {
    //     height: 400px; // Adjust for xlarge (large screens, TV, 4K)
    // }
}

.slideshow__content {
    // The slideshow__title and slideshow__text are wrapped in this .class
    // The .row class is already applied to contain it to the max viewport width
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/slider-overlay.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Raleway";
    color: #ffffff;
    padding: 25px 8.3333333%;
    @media only screen and (min-width: 64.063em) { 
      padding: 70px 0;
      max-width: 60.625rem;
    }
}

.slideshow__title {
    // Position/style the Homepage slideshow TITLE here
    letter-spacing: 0.5px;
    font-size: 25px;
    font-weight: 300;
    max-width: 75%;
    line-height: 1;
    padding-bottom: 20px;
    padding-left: 15px;
    @media only screen and (min-width: 40.063em) {
      font-size: 75px;
      letter-spacing: 2px;
      max-width: 65%;
      padding-left: 0px;
    }
    @media only screen and (min-width: 64.063em) { 
      padding-bottom: 30px;
    }
}

.slideshow__text {
    // Position/style the Homepage slideshow CAPTION here
    font-size: 13px;
    font-weight: 700;
    max-width: 70%;
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
    padding-left: 15px;
    @media only screen and (min-width: 40.063em) {
      font-size: 30px;
      letter-spacing: 2px;
      max-width: 65%;
      padding-left: 0px;
    }
    @media only screen and (min-width: 64.063em) { 
      padding-bottom: 50px;
    }
}
.slider-btn {
    font-size: 11px;
    font-weight: 700;
    font-family: Raleway;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: none;
    margin-left: 15px;
    &:hover, &:focus, &:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
        background-color: #edb0bc;
    }
    @media only screen and (min-width: 40.063em) {
      font-size: 18px;
      letter-spacing: 2px;
      border: 3px solid #ffffff;
      padding-top: 1rem;
      padding-right: 2rem;
      padding-bottom: 1.0625rem;
      padding-left: 2rem;
      margin-left: 0;
    }
}