.view-our-team {
  .view-content {
    justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		float: left;
		.views-row {
			display: inline-flex;
			text-align: center;
			flex-flow: column;
			align-items: center;
			margin-bottom: 15px;
			.views-field-field-photo {
				width: 14em;
				height: 14em;
				overflow: hidden;
				border-radius: 100%;
				transform: scale(0.9);
				transition: all 0.3s ease-in-out;
				img {
					width: 100%;
				}
				&:hover {
					transform: scale(1);
    		//	box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.5);
				}
			}
			.views-field-title {
				margin-top: 10px;
				a {
					text-transform: uppercase;
					color: #c68694;
					border-bottom: 1px solid transparent;
					transition: all 0.2s ease-in-out;
					text-decoration: none;
					&:hover, &:focus, &:active {
						border-color: #c68694;
					}
				}
			}
		}
	}
}